body{
	color:#333333;
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	width:940px;
	margin-left:auto;
	margin-right:auto;
}
h1{
	background: url(../img/sobre-background.jpg);
	padding: 10px;
}

h2{
	border-bottom:2px solid black;
	margin-top:30px;
}

figure{
	background: #F2EDED;
	border:1px solid #CCCCCC;
	text-align: center;
	padding:15px;
	margin:30px;
}

figcaption{
	font-style:italic;
	margin-top:10px;
}

p{
	padding:0 45px;
	text-indent: 15px;
}

p:first-letter{
	font-weight:bold;
}

#centro-distribuicao{
	width:550px;
	margin-left:auto;
	margin-right:auto;
}

#familia-pelho{
	float:right;
	margin-top:0;
	margin-right:0;
}
#rodape{
	color:#777777;
	margin:30px 0;
	padding:30px 0;
}
#rodape img{
	width:94px;
	margin-right:30px;
	vertical-align:middle;
}

h1 + p{
	text-indent:0;
}

:not(p) + p:first-line{
	font-variant: small-caps;
}